name: speech-analysis
channels:
  - conda-forge
  - nodefaults
dependencies:
  - python=3.13

  - numpy
  - pandas
  - scipy
  - matplotlib
  - pillow

  - jupyter
  - jupyterlab_vim
  - ipykernel<7.0.0

  - huggingface_hub

  - transformers=4.57
  - accelerate

  - einops

  - librosa
  - pydub
  - audioop-lts
  - libsndfile

  - tqdm

  - pyyaml
  - kafka-python
  - boto3
  - dacite

  - pip
  - pip:
      - openai-whisper

      - triton @ https://repo.radeon.com/rocm/manylinux/rocm-rel-7.1.1/triton-3.5.1%2Brocm7.1.1.gita272dfa8-cp313-cp313-linux_x86_64.whl
      - torchaudio @ https://repo.radeon.com/rocm/manylinux/rocm-rel-7.1.1/torchaudio-2.9.0%2Brocm7.1.1.gite3c6ee2b-cp313-cp313-linux_x86_64.whl
      - torch @ https://repo.radeon.com/rocm/manylinux/rocm-rel-7.1.1/torch-2.9.1%2Brocm7.1.1.lw.git351ff442-cp313-cp313-linux_x86_64.whl
      - torchinfo
      # - torchcodec

variables:
  FLASH_ATTENTION_TRITON_AMD_ENABLE: "TRUE"
  # Not settings this despite recomendations for speedup as this doesn't work on gfx1201
  # FLASH_ATTENTION_TRITON_AMD_AUTOTUNE: "TRUE"
  DS_BUILD_ROCm: 1
